<h1>Chat</h1>
<h3>Welcome <%= uname %></h3>
<button id='logout'>logout</button><br/>
<form  id='sendForm'>
	<input type='text' placeholder="type message" id='text' />
	<button>
		Send
	</button>
</form>
<div id="msg">
	
</div>
<script>
	function templateMessage(message) {
		return "<div><b>"+((message.uname)?message.uname:"")+"</b> : "+((message.message)?message.message:"")+"</div>";
	}
	$(function() {
		var socket=io.connect();
		socket.on("connect",function() {
			this.get("/messages",function(data) {
				$.each(data,function(index,message) {
					$("#msg").append(templateMessage(message));		
				});
			});
		});
		socket.on("message",function(msg) {
			$("#msg").append(templateMessage(msg.data));
		});
		$("#sendForm").submit(function() {
			var text=$("#text").val();
			if(text!="") {
				socket.post("/messages/create",{message:text},function(res) {
					$("#text").val("");
				});
			}
			event.preventDefault();
		});
		$("#logout").click(function() {
			socket.get("/logout",function(res) {
				window.location = "/";
			});
		});
	});
</script>
